        
        body{
                width: 800px;
                background: white;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
        }
        
        

       
        
        img{
        border-radius: 50%;
        }


